main {
  width: 40em;
}

@media (max-width: 700px) {
  main {
    width: 90vw;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3em;
}

body, body * {
  font-family: 'Josefin Sans';
}

body h1 {
  font-weight: normal;
  text-align: center;
}

body #accordion {
  width: 100%;
}

body #accordion .item {
  width: 100%;
}

body #accordion .item:not(:first-child) .head {
  border-top: none;
}

body #accordion .item .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid black;
  padding: 1em;
}

body #accordion .item .head .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #accordion .item .head .arrows div {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5em;
  width: 2em;
  height: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
}

body #accordion .item .head .arrows div:hover {
  background: black;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body #accordion .item .content {
  max-height: 0px;
  padding: 0 1em;
  background: black;
  color: white;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
}

body #accordion .item .content.show {
  max-height: 1000px;
  border-style: solid;
  border-color: black;
  border-width: 0 2px 2px 2px;
  padding: 1em;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}

body form {
  margin: 1em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body form h5 {
  margin: 0;
  font-size: 1em;
}

body form input, body form textarea {
  border: 2px solid black;
  margin: 0 0 .5em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body form input {
  height: 3em;
}

body form textarea {
  height: 10em;
}

body form #submit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
}

body form #submit-btn-container button {
  border: 2px solid black;
  padding: .2em 1em;
  background: none;
}
/*# sourceMappingURL=main.css.map */