$border: 2px solid black;

main {
  width: 40em;

  @media (max-width: 700px) {
    width: 90vw;
  }
}

body {
  &, & * {
    font-family: 'Josefin Sans';
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;

  h1 {
    font-weight: normal;
    text-align: center;
  }

  #accordion {
    width: 100%;

    .item {

      &:not(:first-child) {
       .head {
          border-top: none;
        }
      }

      width: 100%;

      .head {
        display: flex;
        justify-content: space-between;

        border: $border;
        padding: 1em;

        .arrows {
          display: flex;

          div {
            &:hover {
              background: black;
              color: white;
              transition: all .2s;
            }

            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 .5em;

            width: 2em;
            height: 2em;
            box-sizing: border-box;

            font-size: 1em;
            font-weight: bolder;

            cursor: pointer;
          }
        }
      }

      .content {
        &.show {
          max-height: 1000px;
          border-style: solid;
          border-color: black;
          border-width: 0 2px 2px 2px;
          padding: 1em;

          transition: max-height 0.2s ease-in;
        }

        max-height: 0px;
        padding: 0 1em;

        background: black;
        color: white;

        overflow: hidden;
        box-sizing: border-box;
        word-break: break-all;
      }
    }
  }

  form {
    margin: 1em 0;
    width: 100%;
    box-sizing: border-box;

    h5 {
      margin: 0;
      font-size: 1em;
    }

    input, textarea {
      border: 2px solid black;
      margin: 0 0 .5em 0;
      width: 100%;
      box-sizing: border-box;
    }

    input {
      height: 3em;
    }

    textarea {
      height: 10em;
    }

    #submit-btn-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 1em;

      button {
         border: 2px solid black;
         padding: .2em 1em;
         background: none;
      }
    }
  }
}