{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Story 7</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- Styling -->
  <link rel="stylesheet" href="{% static 'story_7/main.css' %}">

  <!-- JQuery Import -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

  <!-- Custom Script -->
  <script defer src="{% static 'story_7/main.js' %}"></script>
</head>
<body>
  <main>
    <h1>JQuery Accordion</h1>
    <form>
      <h5>Add Item to Accordion</h5>
      <input type='text' id='title-form' name='title' placeholder="Insert Title">
      <textarea id='content-form' name='content' placeholder="Insert Content"></textarea>
      <div id='submit-btn-container'>
        <button id="submit-btn">Submit</button>
      </div>
    </form>
    <div id='accordion'></div>
  </main>
</body>
</html>